@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Sora:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Sora:wght@700;800&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

body {
   background-color: #272727;
}

.container {
   width: 90%;
   max-width: 1440px;
   height: 100%;
   margin: auto;
   background-color: #272727;
   display: grid;
   grid-template-rows: 0.7fr 0.5fr 1fr 1fr;
   gap: 2rem;
   justify-items: center;
}
/* Menu */

.nav-bar {
   display: flex;
   width: 90%;
   height: 100px;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #4D4D4D;
}

.logo {
   color: #FFFFFF;
   width: 50%;
   font-size: 25px;
   font-family: 'Poller One', serif;
}

.nav-items {
   display: flex;
   list-style: none;
   gap: 3rem;
   justify-content: right;
   width: 50%;
}

.nav-items li a {
   color: #FFFFFF;
   text-decoration: none;
   line-height: 80px;
   letter-spacing: 1px;
   font-weight: bold;
}

.link {
   display: block;
   transition: all 0.5s;
   cursor: pointer;
}

.link:hover{
   -webkit-transform: scale(1.5);
   transform: scale(1.1);
   color: #3BF686;
}
/* titulo primario */

.title-primary {
   width: 90%;
   height: 50%;
   color: #3BF686;
   font-size: 1.8rem;
   font-weight: bolder;
   letter-spacing: 1px;
}

.title {
   max-width: 1029px;
   max-height: 216px;
   font-family: 'Sora', sans-serif;
}
/* Biography avatar redes sociais */

.apresentacao {
   width: 90%;
   display: grid;
   grid-template-columns: 150px 1fr 1fr;
   gap: 2rem;
} 

.avatar {
   width: 150px;
   height: 150px;
   display: flex;
   flex-direction: column;
   border-radius: 50%;
   border: 3px solid #4CA9FF;
   background-color: #3A3636;
   align-self: center;

   transition: all .5s;
    border: 2px solid #3BF686;
}

.avatar:hover{
   border: 10px solid #4CA9FF;
   border-radius: 50%;
   -webkit-filter: drop-shadow(15px 7px 1px rgba(0,0,0,.5));
   filter: drop-shadow(15px 7px 1px rgba(0,0,0,.5));
   -webkit-transform: rotateZ(-360deg) scale(1.5);
   transform: rotateZ(-360deg) scale(1.5);
}

.biography {
   display: grid;
   max-width: 780px;
   grid-template-columns: 3fr 1.2fr;
   align-self: center;
   grid-column: 2 / 4;
   gap: 20px;
}

.paragraph {
   padding: 10px 0px;
   letter-spacing: 1px;
   line-height: 1.4rem;
   font-family: Arial, Helvetica, sans-serif;
   word-spacing: 1px;
   text-shadow: 2px 2px 2px solid black;
   color: #D6D6D6;
   text-align: justify;
}

h3 {
   grid-area: 2;
   color: #FBFBFB;
   font-size: 20px;
}

.redes-sociais h3 {
   font-size: 14px;
}

.redes-sociais {
   max-width: 130px;
   height: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;

   background-color: #323443;
   border-radius: 10px;
   border: 1px solid #4CA9FF;
   text-align: center;
}

.icon-list {
   display: flex;
   width: 100%;
   justify-content: center;
}

.icon {
   margin-right: 10px;
   transition: all 0.5s;
   cursor: pointer;
}

.icon img{
   width: 25px;
   height: 25px;
}


.icon:hover{
   -webkit-transform: scale(1.5);
   transform: scale(1.5);
}

/* cards what i do */

.apresentacao2 {
   display: grid;
   grid-template-columns: minmax(auto, 1fr) 1fr;
   gap: 3rem;
   width: 90%;
   height: 100%;
}


.container-cards {
   display: grid;
   max-width: 400px;
   grid-template-columns: 1fr 1fr;
   column-gap: 20px;
   height: 100%;
}

.card {
   background-color: #323443;
   border-radius: 10px;
   color: #EFEDE8;
   text-align: center;
   width: 100%;
   height: 95%;
   border: 1px solid #4CA9FF;
   transition: all 0.5s;
   cursor: pointer;
}

.card:hover{
   -webkit-transform: scale(1.5);
   transform: scale(1.1);
}

.icon-web {
   width: 100%;
   height: 40px;
   
   position: relative;
}

.ellipse {
   width: 50px;
   height: 50px;
   position: absolute;
   border-radius: 50%;
   background-color: #323443;
   border: 1px solid #4CA9FF;

   top: -80%;
   left: 35%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.description-card1 {
   height: 80%;

   padding: 0px 10px;
   letter-spacing: 1px;
   line-height: 1.3rem;
   font-family: Arial, Helvetica, sans-serif;
   word-spacing: 1px;
   text-shadow: 2px 2px 2px solid black;
   color: #D6D6D6;
   text-align: justify;
   font-size: 10px;
   
}

h6 {
   font-size: 16px;
   text-align: center;
   padding-bottom: 10px;
}

/* Feature Project*/

.featured-project {
   width: 90%;
   max-width: 1200px;

   margin: auto;
   
}

.card-project {
   display: grid;
   grid-template-columns: 0.6fr 1fr;
   column-gap: 20px;
}

.content-project {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: start;
   color: #DEDEDE;
   max-width: 550px;

   padding: 10px 0px;
   letter-spacing: 1px;
   line-height: 1.4rem;
   font-family: Arial, Helvetica, sans-serif;
   word-spacing: 1px;
   text-shadow: 2px 2px 2px solid black;
   color: #D6D6D6;
   text-align: justify;
}

.title-project {
   padding: 20px 0px;
   font-size: 30px;
   color: #FFFFFF;
}

.thumbnail-project {
   max-width: 400px;
   height: 183px;
   background-color: #323443;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: end;
   border-radius: 7px;

   transition: all 0.8s;
   cursor: pointer;
}

.thumbnail-img {
   display: block;
   max-width: 300px;
}

.loading-project {
   background-color: #323443;
   width: 165px;
   margin-top: 20px;
   margin-bottom: 20px;
   border-radius: 10px;
   height: 44px;
   

   display: flex;
   justify-content: space-evenly;
   color: #D6D6D6;
   font-size: 10px;
   align-items: center;

   transition: all 0.3s;
   cursor: pointer;
}

.thumbnail-project:hover{
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.loading-project:hover{
   -webkit-transform: scale(1);
   transform: scale(1.1);
   border: 2px solid #3BF686;
}

/* max width 76px*/

@media (max-width: 768px) {

   .nav-bar {
      display: none;
   }

   .container {
      grid-template-rows: 1fr ;
      position: relative;
   } 

   .apresentacao {
      grid-row: 1;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      justify-items: center;
      position: relative;
   }

   .avatar {
      margin-top: 2rem;
      grid-column: 2;
      grid-row: 1;
   }

   .redes-sociais {
      grid-row: 1;
      grid-column: 1/3;
      height: 50px;
      border: 0;
      background-color: #272727;
   }

   .lets-connect {
      display: none;
   }

   .biography {
      grid-row: 3;
      row-gap: 3rem;
      grid-template-rows: 1fr 1fr 1fr;
      grid-column: 1/4;
      justify-items: center;
      text-align: center;
   }

   .conteudo {
      grid-row: 3;
      grid-column: 1/3;
      width: 90%;
      margin-top: 1rem;
   }

   .title-primary {
      text-align: center;
      font-size: 1.6rem;
      position: absolute;
      top: -150%;
      grid-row: 2;
   }
  
   .apresentacao2 {
      grid-template-rows: 0.3fr  ;
      justify-items: center;
      width: 100%;
      grid-row: 2;
   }

   .container-cards {
      grid-template-columns: 0.1fr 1fr;
      display: flex;
      grid-row: 2;
      grid-column: 1 / 4;
      width: 100%;
      max-height: 300px;
   }

   .card {
      grid-column: 1;
   }

   .description {
      grid-row: 1;
      grid-column: 1/4;
      text-align: center;
      width: 90%;
   }

   .featured-project {
      display: none;
   }

}






